body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body button{
    width: 400px;
    height: 40px;
}

body img {
    width: 450px;
    height: 450px;
    max-width: 100%;
    border-radius: 8px;
    margin: 25px;
}

